.RightBlockContainer{
    width: 100vw;
    height: calc(100vh - 32px);
    background-color: #a3cef1;
    overflow-y: auto;
    padding-left:calc(14.7vw );
    
    
}
ul li {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }