<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script>
        alert("message!!")
        function test(){
            let a = prompt("enter","enter number 1-10")
            a>7.5?alert(a+">7.5"):alert(a+"<7.5")
        }
    </script>
    <button onclick="test()">click me</button>
    <!-- <form>
        <fieldset>
            <legend>number</legend>
            <div>
                <select name="" id="">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>

                </select>
            </div>
        </fieldset>
        <fieldset>
            <legend>list</legend>
            <div>
                <select size="4">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option disabled value="5">5</option>
                    <option disabled value="6">6</option>
                    <option disabled value="7">7</option>
                    <option  disabled value="8">8</option>

                </select>
            </div>
        </fieldset>
    </form> -->
</body>

</html>